---
import { Badge } from "@/components/ui/badge";
import DriveItemDragOverlay from "@/features/drive/components/drive-item-drag-overlay";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <div class="flex flex-wrap gap-1 p-10">
    <DriveItemDragOverlay itemName="File Name" selectionCount={4} />
  </div>
</RootLayout>
