---
import DriveItems from "@/components/drive-pragmatic/drive-items";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <div class="grid items-center container2">
    <DriveItems client:only />
  </div>
</RootLayout>
