---
import DriveDemo from "@/features/drive";
import HeaderLayout from "@/layouts/header-layout.astro";
---

<HeaderLayout>
  <div class="grid items-center container2 min-h-[80vh]">
    <DriveDemo client:only />
  </div>
</HeaderLayout>
