---
import RootLayout from "@/layouts/root-layout.astro";
import DriveDemo from "@/features/drive";
---

<RootLayout>
  <div class="grid items-center container2">
    <DriveDemo client:only />
  </div>
</RootLayout>
