---
import RootLayout from "@/layouts/root-layout.astro";
import { Badge, Card, Heading, Text } from "@radix-ui/themes";

const data = [
  {
    name: "Lorem ipsum",
    value: "ipsum dolor sit amet consectetur adipisicing elit",
  },
  {
    name: "Lorem",
    value:
      "ipsum dolor sit amet consectetur adipisicing elit. Sequi ea, quibusdam soluta illum dolor dicta rem ducimus",
  },
  {
    name: "ipsum dolor sit amet consectetur adipisicing elit. Sequi ea, quibusdam soluta illum dolor dicta rem ducimus",
    value: "Lorem",
  },
];
---

<RootLayout>
  <div class="bg-blue-2 h-screen w-full flex items-center justify-center">
    <div class="flex flex-col gap-12 items-center border p-12 border-red-6">
      <Card size="3">
        <header>
          <Heading>Dual Truncation</Heading>
          <Text> Max width set on secondary badge </Text>
        </header>
        <div class="max-w-screen-sm w-full flex flex-col divide-y">
          {
            data.map((item) => (
              <div class="flex items-center gap-2 py-2">
                <Badge variant="solid" className="min-w-0">
                  <span class="truncate">{item.name}</span>
                </Badge>
                <Badge variant="soft" className="min-w-0 max-w-md">
                  <span class="truncate">{item.value}</span>
                </Badge>
              </div>
            ))
          }
        </div>
      </Card>
      <Card size="3">
        <header>
          <Heading>Dual Truncation</Heading>
          <Text>
            No max widths set - primary badge is needlessly truncated
          </Text>
        </header>
        <div class="max-w-screen-sm w-full flex flex-col divide-y">
          {
            data.map((item) => (
              <div class="flex items-center gap-2 py-2">
                <Badge variant="solid" className="min-w-0">
                  <span class="truncate">{item.name}</span>
                </Badge>
                <Badge variant="soft" className="min-w-0">
                  <span class="truncate">{item.value}</span>
                </Badge>
              </div>
            ))
          }
        </div>
      </Card>
    </div>
  </div>
</RootLayout>
