---
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <main class="min-h-screen flex items-center justify-center py-32">
    <div
      class="bg-red-500 hover:bg-red-700 transition-colors duration-500 px-4 py-2 rounded"
    >
      Hover me
    </div>
  </main>
</RootLayout>
