---
import "@/globals.css";
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";

import "@fontsource-variable/radio-canada";
import "@fontsource-variable/reddit-sans";
import RootLayout from "./root-layout.astro";

const isHome = Astro.url.pathname === "/";
---

<RootLayout>
  {
    !isHome && (
      <a
        href="/"
        class={cn(
          "fixed top-4 left-4 px-5",
          buttonVariants({ variant: "secondary" })
        )}
      >
        <i class="fa-solid fa-arrow-left mr-2" />
        <span>Home</span>
      </a>
    )
  }
  <a
    href="https://github.com/rjp301/colab-proof-of-concepts"
    rel="noopener noreferrer"
    target="_blank"
    class={cn(
      buttonVariants({ variant: "ghost", size: "sm" }),
      "fixed top-4 right-4 font-mono px-5"
    )}
  >
    <i class="fa-brands fa-github mr-2 text-sm"></i>
    <span>GitHub</span>
  </a>
  <slot />
</RootLayout>
