---
import RootLayout from "./root-layout.astro";
import Header from "@/components/header";
---

<RootLayout>
  <div class="grid h-screen grid-rows-[auto_1fr]">
    <Header client:load pathname={Astro.url.pathname} />

    <div class="flex items-center justify-center bg-gray-2">
      <slot />
    </div>
  </div>
</RootLayout>
