---
import "@/globals.css";
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";

import '@fontsource-variable/radio-canada';
import '@fontsource-variable/reddit-sans';

const isHome = Astro.url.pathname === "/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />

    <title>Astro</title>
  </head>
  <body>
    {
      !isHome && (
        <a
          href="/"
          class={cn(
            "fixed top-4 left-4 px-5",
            buttonVariants({ variant: "secondary" })
          )}
        >
          <i class="fa-solid fa-arrow-left mr-2" />
          <span>Home</span>
        </a>
      )
    }
    <a
      href="https://github.com/rjp301/colab-proof-of-concepts"
      rel="noopener noreferrer"
      target="_blank"
      class={cn(
        buttonVariants({ variant: "ghost", size: "sm" }),
        "fixed top-4 right-4 font-mono px-5"
      )}
    >
      <i class="fa-brands fa-github mr-2 text-sm"></i>
      <span>GitHub</span>
    </a>
    <slot />
  </body>
</html>
