---
import "@/globals.css";
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";

const isHome = Astro.url.pathname === "/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />

    <title>Astro</title>
  </head>
  <body>
    {
      !isHome && (
        <a
          href="/"
          class={cn(
            "fixed top-4 left-4",
            buttonVariants({ variant: "secondary" })
          )}
        >
          <i class="fa-solid fa-arrow-left mr-2" />
          <span>Home</span>
        </a>
      )
    }
    <slot />
  </body>
</html>
